# Haproxy config with statistics enable on port 8888
# Service traffic going to 8080 and being directed to 3 webservers

global
  log /dev/log    local0
  log /dev/log    local1 notice
  maxconn 4096

defaults
  log global
  mode http
  option httplog
  option dontlognull
  timeout connect 5000
  timeout client 50000
  timeout server 50000

listen stats
  bind 0.0.0.0:8888
  mode http
  stats enable
  stats hide-version
#   stats scope .
  stats realm Haproxy\ Statistics
  stats uri /stat-1
  stats auth user:pass

frontend balancer
  bind 0.0.0.0:8080
  mode http
  default_backend web_backends

backend web_backends
  mode http
  balance roundrobin
  option forwardfor
  option httpchk GET /
#   option httpchk HEAD /healthcheck.html HTTP/1.1
  server server-11 server-11:8080 check
  server server-12 server-12:8080 check
  server server-13 server-13:8080 check

